aerich==0.5.3
aiofiles==0.6.0
aiosqlite==0.16.1
alembic==1.5.8
databases[sqlite]==0.4.3
fastapi==0.63.0
pydantic[email]==1.8.1
python-multipart==0.0.5
sqlalchemy-stubs==0.4
tortoise-orm==0.17.2
uvicorn[standard]==0.13.4

asgi-lifespan
black
codecov
httpx
mypy
pytest
pytest-asyncio
pytest-cov
pytest-mock
